<h1> Preparing the required data ..</h1>

<h3>Importing necessary packages </h3>

In [9]:
import pandas as pd
from IPython.display import display_html

<h3> Read the table from wikipedia page and store as dataframe </h3>

In [10]:
#Read from the wikipidea page all tables, dfs is a list of all such tables in the page
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

#Fetch only the first table with postal code details 
dfs = dfs[0]

<h3> Cleaning and preparing the data as per the requirement </h3>

In [11]:
dfs.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [12]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal code   180 non-null    object
 1   Borough       180 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [44]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
dfs1 = dfs[dfs['Borough'] != 'Not assigned']
dfs1.reset_index(drop=True,inplace=True)
dfs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal code   103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [45]:
dfs1.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [46]:
# More than one Neighborhood per postal code separated by comma
pd.set_option('mode.chained_assignment', None)
dfs1['Neighborhood'] = dfs1['Neighborhood'].str.replace('/',',')

In [42]:
dfs1.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [50]:
#printing the shape
dfs1.shape

(103, 3)